!/.gitignore
!.gitkeep
*~
.DS_Store
*.sublime-project
*.sublime-workspace
._*
.AppleDouble
.buildpath
.DS_Store
.LSOverride
.metadata
.project
.settings
.Spotlight-V100
.svn/
.Trashes
_notes
dwsync.xml
Icon
node_modules
npm-debug.log
